<launch>
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz"/>

    <include file="$(find urdf_gazebo)/launch/my_map_server.launch"/>

    <include file="$(find urdf_gazebo)/launch/my_amcl.launch"/>


</launch>